<a href="https://colab.research.google.com/github/Spandana2704/ML/blob/main/ML(W4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np

In [27]:
df=pd.read_csv('/content/titanic_train.csv')
df.shape

(891, 12)

In [28]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [29]:
df=df.drop(['PassengerId','Name','Ticket'],axis=1)

In [30]:
df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [31]:
[col for col in df.columns if df[col].isnull().sum()>0]

['Age', 'Cabin', 'Embarked']

In [32]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [33]:
df=df.drop(['Embarked','Cabin'],axis=1)

In [34]:
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor

In [35]:
from sklearn.metrics import roc_auc_score

In [36]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [37]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [38]:
X = pd.get_dummies(X,drop_first=True)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [42]:
grouped_feature_ls = []
correlated_groups = []
def correlation (dataset, threshold):
    col_corr = set()
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold:
                colname=corr_matrix.columns[i]
                col_corr.add(colname)
    return col_corr
corr_features=correlation (x_test, 0.9)
correlated_features = set(corr_features)
print(len(correlated_features))

0

In [43]:
sfs1=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=True,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)

In [44]:
sfs1=sfs1.fit(np.array(x_train.fillna(0)),y_train)

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    3.9s finished

[2025-08-19 15:17:35] Features: 1/5 -- score: 0.765194136612553[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    3.3s finished

[2025-08-19 15:17:39] Features: 2/5 -- score: 0.832223720877483[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    2.6s finished

[2025-08-19 15:17:41] Features: 3/5 -- score: 0.8391936829655554[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    2.5s finished

[2025-08-19 15:17:44] Features: 4/5 -- score: 0.8452480476977415[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.4s finished

[2025-08-19 15:17:45] Features: 5/5 -- score: 0.8450046174783709

In [45]:
print('best accracy score',sfs1.k_score_)
print('best subset(indices)',sfs1.k_feature_idx_)
print('Best subset (corresponding names):', sfs1.k_feature_names_)

best accracy score 0.8450046174783709
best subset(indices) (0, 1, 3, 4, 5)
Best subset (corresponding names): ('0', '1', '3', '4', '5')

In [46]:
sfs2=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=False,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)
sfs2=sfs2.fit(np.array(x_train.fillna(0)),y_train)
print('best accracy score',sfs2.k_score_)
print('best subset(indices)',sfs2.k_feature_idx_)
print('Best subset (corresponding names):', sfs2.k_feature_names_)

best accracy score 0.8440774764265578
best subset(indices) (0, 1, 2, 4, 5)
Best subset (corresponding names): ('0', '1', '2', '4', '5')

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    4.1s finished

[2025-08-19 15:18:28] Features: 5/5 -- score: 0.8440774764265578

In [47]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
efs=EFS(RandomForestClassifier(n_jobs=4),min_features=1,max_features=4,scoring='accuracy',cv=5)
efs=efs.fit(x_train,y_train)
print('best accuracy score',efs.best_score_)
print('best subset(indices)',efs.best_idx_)
print('Best subset (corresponding names):', efs.best_feature_names_)

Features: 56/56

best accuracy score 0.8089806451612903
best subset(indices) (0, 4, 5)
Best subset (corresponding names): ('Pclass', 'Fare', 'Sex_male')

In [48]:
efs_results = pd.DataFrame.from_dict(efs.get_metric_dict()).T
efs_results.sort_values(by='avg_score', ascending=True, inplace=True)
efs_results

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(1,)","[0.592, 0.576, 0.608, 0.5645161290322581, 0.60...",0.589071,"(Age,)",0.021425,0.016669,0.008335
11,"(1, 2)","[0.64, 0.568, 0.608, 0.5483870967741935, 0.612...",0.595458,"(Age, SibSp)",0.042299,0.03291,0.016455
12,"(1, 3)","[0.56, 0.592, 0.624, 0.6209677419354839, 0.612...",0.601974,"(Age, Parch)",0.03056,0.023777,0.011888
34,"(1, 3, 4)","[0.584, 0.6, 0.624, 0.5967741935483871, 0.6209...",0.605148,"(Age, Parch, Fare)",0.019488,0.015163,0.007581
13,"(1, 4)","[0.592, 0.616, 0.616, 0.5725806451612904, 0.63...",0.606735,"(Age, Fare)",0.028608,0.022258,0.011129
3,"(3,)","[0.568, 0.6, 0.616, 0.6048387096774194, 0.6451...",0.6068,"(Parch,)",0.032064,0.024947,0.012473
31,"(1, 2, 3)","[0.648, 0.576, 0.656, 0.5887096774193549, 0.62...",0.617935,"(Age, SibSp, Parch)",0.040542,0.031543,0.015771
2,"(2,)","[0.624, 0.6, 0.656, 0.5645161290322581, 0.7177...",0.632452,"(SibSp,)",0.066955,0.052094,0.026047
23,"(0, 1, 4)","[0.656, 0.632, 0.648, 0.6129032258064516, 0.65...",0.640426,"(Pclass, Age, Fare)",0.020663,0.016076,0.008038
42,"(0, 1, 2, 4)","[0.656, 0.648, 0.64, 0.6129032258064516, 0.653...",0.642026,"(Pclass, Age, SibSp, Fare)",0.019983,0.015548,0.007774
21,"(0, 1, 2)","[0.616, 0.616, 0.72, 0.6129032258064516, 0.661...",0.645239,"(Pclass, Age, SibSp)",0.053312,0.041478,0.020739
6,"(0, 1)","[0.616, 0.64, 0.688, 0.6129032258064516, 0.669...",0.645252,"(Pclass, Age)",0.037859,0.029455,0.014728
51,"(1, 2, 3, 4)","[0.68, 0.624, 0.648, 0.6370967741935484, 0.661...",0.650077,"(Age, SibSp, Parch, Fare)",0.024882,0.019359,0.00968
32,"(1, 2, 4)","[0.688, 0.656, 0.656, 0.6048387096774194, 0.66...",0.654839,"(Age, SibSp, Fare)",0.035494,0.027616,0.013808
0,"(0,)","[0.64, 0.656, 0.68, 0.6693548387096774, 0.6290...",0.654877,"(Pclass,)",0.023917,0.018608,0.009304
44,"(0, 1, 3, 4)","[0.624, 0.656, 0.68, 0.6693548387096774, 0.645...",0.654903,"(Pclass, Age, Parch, Fare)",0.024988,0.019441,0.009721
25,"(0, 2, 3)","[0.64, 0.656, 0.672, 0.6532258064516129, 0.669...",0.658116,"(Pclass, SibSp, Parch)",0.014941,0.011625,0.005812
26,"(0, 2, 4)","[0.688, 0.656, 0.672, 0.6532258064516129, 0.64...",0.662877,"(Pclass, SibSp, Fare)",0.01965,0.015288,0.007644
15,"(2, 3)","[0.648, 0.64, 0.72, 0.6209677419354839, 0.6854...",0.66289,"(SibSp, Parch)",0.045533,0.035426,0.017713
41,"(0, 1, 2, 3)","[0.616, 0.64, 0.752, 0.6693548387096774, 0.645...",0.664503,"(Pclass, Age, SibSp, Parch)",0.060303,0.046918,0.023459
4,"(4,)","[0.688, 0.664, 0.608, 0.6935483870967742, 0.66...",0.664581,"(Fare,)",0.039036,0.030371,0.015186
16,"(2, 4)","[0.68, 0.68, 0.704, 0.6370967741935484, 0.6370...",0.667639,"(SibSp, Fare)",0.033973,0.026432,0.013216
18,"(3, 4)","[0.672, 0.664, 0.648, 0.6532258064516129, 0.70...",0.667768,"(Parch, Fare)",0.02425,0.018867,0.009434
47,"(0, 2, 3, 4)","[0.704, 0.68, 0.68, 0.6532258064516129, 0.6451...",0.672477,"(Pclass, SibSp, Parch, Fare)",0.027105,0.021089,0.010544
22,"(0, 1, 3)","[0.616, 0.672, 0.76, 0.6693548387096774, 0.677...",0.678955,"(Pclass, Age, Parch)",0.059387,0.046205,0.023103
7,"(0, 2)","[0.664, 0.672, 0.688, 0.6774193548387096, 0.70...",0.682219,"(Pclass, SibSp)",0.020296,0.015791,0.007896
37,"(2, 3, 4)","[0.704, 0.672, 0.744, 0.6532258064516129, 0.66...",0.688516,"(SibSp, Parch, Fare)",0.041464,0.03226,0.01613
28,"(0, 3, 4)","[0.672, 0.696, 0.728, 0.6854838709677419, 0.68...",0.693394,"(Pclass, Parch, Fare)",0.0243,0.018906,0.009453
9,"(0, 4)","[0.672, 0.688, 0.728, 0.7096774193548387, 0.70...",0.699858,"(Pclass, Fare)",0.024442,0.019017,0.009508
8,"(0, 3)","[0.672, 0.704, 0.736, 0.6935483870967742, 0.70...",0.703045,"(Pclass, Parch)",0.026868,0.020904,0.010452
53,"(1, 2, 4, 5)","[0.728, 0.768, 0.76, 0.7580645161290323, 0.782...",0.759265,"(Age, SibSp, Fare, Sex_male)",0.02288,0.017801,0.008901
36,"(1, 4, 5)","[0.704, 0.792, 0.768, 0.75, 0.7983870967741935]",0.762477,"(Age, Fare, Sex_male)",0.04365,0.033961,0.016981
35,"(1, 3, 5)","[0.728, 0.776, 0.744, 0.7580645161290323, 0.80...",0.762503,"(Age, Parch, Sex_male)",0.034803,0.027078,0.013539
14,"(1, 5)","[0.728, 0.816, 0.696, 0.7741935483870968, 0.79...",0.762516,"(Age, Sex_male)",0.05719,0.044496,0.022248
10,"(0, 5)","[0.752, 0.8, 0.768, 0.75, 0.75]",0.764,"(Pclass, Sex_male)",0.02471,0.019225,0.009612
54,"(1, 3, 4, 5)","[0.704, 0.792, 0.744, 0.7661290322580645, 0.81...",0.764129,"(Age, Parch, Fare, Sex_male)",0.049246,0.038315,0.019158
48,"(0, 2, 3, 5)","[0.768, 0.8, 0.776, 0.7419354838709677, 0.7661...",0.770413,"(Pclass, SibSp, Parch, Sex_male)",0.023989,0.018664,0.009332
55,"(2, 3, 4, 5)","[0.736, 0.824, 0.784, 0.7661290322580645, 0.75...",0.773639,"(SibSp, Parch, Fare, Sex_male)",0.037951,0.029527,0.014764
52,"(1, 2, 3, 5)","[0.736, 0.736, 0.784, 0.8064516129032258, 0.81...",0.775394,"(Age, SibSp, Parch, Sex_male)",0.043293,0.033684,0.016842
39,"(2, 4, 5)","[0.768, 0.824, 0.776, 0.7580645161290323, 0.75...",0.776826,"(SibSp, Fare, Sex_male)",0.031525,0.024527,0.012264
40,"(3, 4, 5)","[0.752, 0.848, 0.76, 0.7419354838709677, 0.782...",0.776839,"(Parch, Fare, Sex_male)",0.048814,0.037979,0.01899
38,"(2, 3, 5)","[0.792, 0.792, 0.752, 0.75, 0.8145161290322581]",0.780103,"(SibSp, Parch, Sex_male)",0.032329,0.025153,0.012576
19,"(3, 5)","[0.752, 0.8, 0.768, 0.7903225806451613, 0.8064...",0.783355,"(Parch, Sex_male)",0.026202,0.020386,0.010193
33,"(1, 2, 5)","[0.736, 0.76, 0.776, 0.8145161290322581, 0.830...",0.783432,"(Age, SibSp, Sex_male)",0.044707,0.034783,0.017392
50,"(0, 3, 4, 5)","[0.768, 0.832, 0.776, 0.782258064516129, 0.766...",0.784877,"(Pclass, Parch, Fare, Sex_male)",0.03118,0.024259,0.01213
20,"(4, 5)","[0.744, 0.808, 0.784, 0.8064516129032258, 0.78...",0.784942,"(Fare, Sex_male)",0.029749,0.023146,0.011573
5,"(5,)","[0.752, 0.8, 0.768, 0.7983870967741935, 0.8145...",0.786581,"(Sex_male,)",0.029539,0.022982,0.011491
49,"(0, 2, 4, 5)","[0.792, 0.824, 0.792, 0.7741935483870968, 0.76...",0.789665,"(Pclass, SibSp, Fare, Sex_male)",0.025597,0.019915,0.009958
17,"(2, 5)","[0.76, 0.792, 0.768, 0.8145161290322581, 0.830...",0.793032,"(SibSp, Sex_male)",0.034464,0.026815,0.013407
29,"(0, 3, 5)","[0.776, 0.816, 0.792, 0.7580645161290323, 0.83...",0.794542,"(Pclass, Parch, Sex_male)",0.033736,0.026248,0.013124
27,"(0, 2, 5)","[0.784, 0.8, 0.776, 0.8064516129032258, 0.8145...",0.796194,"(Pclass, SibSp, Sex_male)",0.018285,0.014226,0.007113
46,"(0, 1, 4, 5)","[0.776, 0.816, 0.8, 0.782258064516129, 0.84677...",0.804206,"(Pclass, Age, Fare, Sex_male)",0.032749,0.02548,0.01274
45,"(0, 1, 3, 5)","[0.776, 0.832, 0.776, 0.782258064516129, 0.854...",0.804219,"(Pclass, Age, Parch, Sex_male)",0.042274,0.032891,0.016445
43,"(0, 1, 2, 5)","[0.72, 0.824, 0.832, 0.8225806451612904, 0.830...",0.805845,"(Pclass, Age, SibSp, Sex_male)",0.055367,0.043077,0.021539
24,"(0, 1, 5)","[0.8, 0.824, 0.784, 0.782258064516129, 0.84677...",0.807406,"(Pclass, Age, Sex_male)",0.031798,0.02474,0.01237
30,"(0, 4, 5)","[0.792, 0.824, 0.816, 0.8145161290322581, 0.79...",0.808981,"(Pclass, Fare, Sex_male)",0.015273,0.011883,0.005942

In [50]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=0, criterion='gini')
rfc.fit(x_train, y_train)
for feature in zip(x_train.columns, rfc.feature_importances_):
    print(feature)

('Pclass', np.float64(0.08580548090109545))
('Age', np.float64(0.26433757901109173))
('SibSp', np.float64(0.05355992352286061))
('Parch', np.float64(0.03699908167792097))
('Fare', np.float64(0.28790097031129963))
('Sex_male', np.float64(0.2713969645757317))

In [52]:
from sklearn.feature_selection import SelectFromModel
sfm = SelectFromModel(estimator=rfc, threshold=0.2)
sfm = sfm.fit(x_train, y_train)
feature_names=x_train.columns
print('The most important features based on random forest classifier:')
for feature_list_index in sfm.get_support(indices=True):
    print('- ' + feature_names[feature_list_index])

The most important features based on random forest classifier:
- Age
- Fare
- Sex_male

In [54]:
from sklearn.metrics import accuracy_score
rfc_full = RandomForestClassifier(random_state=0, criterion='gini')
rfc_full.fit(x_train, y_train)
pred_full = rfc_full.predict(x_test)
print('The accuracy of classifier with full features: {:.2f}'.format(accuracy_score(y_test, pred_full)))

The accuracy of classifier with full features: 0.82

In [56]:
x_important_train = sfm.transform(x_train)
x_important_test = sfm.transform(x_test)

In [57]:
print(x_important_train.shape)
print(x_important_test.shape)

(623, 3)
(268, 3)

In [58]:
rfc_lim = RandomForestClassifier(random_state=0, criterion='gini')
rfc_lim.fit(x_important_train, y_train)
pred_lim = rfc_lim.predict(x_important_test)
print('The accuracy of classifier with limited features: {:.2f}'.format(accuracy_score(y_test, pred_lim)))

The accuracy of classifier with limited features: 0.80